
<!-- <div class="row">
  
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>
            1.Report Extraction
        </nb-card-header>
      </nb-card>
  <nb-card-body>
      
      <div class="row show-grid">
          <div class="col-6 col-md-4">
            <div><a href="">1. Open Order Business Report</a></div>
          </div>
          <div class="col-6 col-md-4">
            <div><a href="">2. Sales Order Report </a></div>
          </div>
          <div class="col-6 col-md-4">
              <div><a href=""> 3. Order Shipping Update Report </a></div>
          </div>
      </div>
      <div class="row show-grid">
          <div class="col-6 col-md-4">
              <div><a href="">4. Order Pending in Fraud Status Report </a></div>
          </div>
          <div class="col-6 col-md-4">
              <div><a href="">5. Order Pending in Shipment Acknowledgment Status Report </a></div>
          </div>
          <div class="col-6 col-md-4">
              <div><a href="">6. Order Pending With Fulfillment Report </a></div>
          </div>
      </div>
      <div class="row show-grid">
          <div class="col-6 col-md-4">
              <div><a href="">7. GSI Open Order Report </a></div>
          </div>
          <div class="col-6 col-md-4">
              <div><a href="">8. Cancellation Report </a></div>
          </div>
          
      </div>
</nb-card-body>

</div> -->
<!-- 
<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="1. Report Extraction">
      <div class="contact" *ngFor="let c of recent">
         
         <nb-user kklj [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
        <span class="time">{{ c.time }}</span> 
        
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card> -->

