<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div> -->
<div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>1. Report Extraction</nb-card-header>
        <nb-card-body>
          <tree [tree]="tree1"></tree>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
          <nb-card-header>2. Order Updates</nb-card-header>
          <nb-card-body>
            <tree [tree]="tree2"></tree>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
          <nb-card>
            <nb-card-header>3. NYCO Emails</nb-card-header>
            <nb-card-body>
              <tree [tree]="tree3"></tree>
              
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card>
              <nb-card-header>4. Monitoring Request</nb-card-header>
              <nb-card-body>
                <tree [tree]="tree4"></tree>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-md-6">
              <nb-card>
                <nb-card-header>5. Alert Request</nb-card-header>
                <nb-card-body>
                  <tree [tree]="tree5"></tree>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card>
                  <nb-card-header>6. Static Data Change</nb-card-header>
                  <nb-card-body>
                    <tree [tree]="tree6"></tree>
                  </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card>
                  <nb-card-header>7. Generic IT Request</nb-card-header>
                  <nb-card-body>
                    <tree [tree]="tree7"></tree>
                  </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card>
                  <nb-card-header>8. Open PMR's</nb-card-header>
                  <nb-card-body>
                    <tree [tree]="tree8"></tree>
                  </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-6">
                <nb-card>
                  <nb-card-header>9. Misc. </nb-card-header>
                  <nb-card-body>
                    <tree [tree]="tree9"></tree>
                  </nb-card-body>
                </nb-card>
            </div>
  </div>

<!-- <div class="row">
  
   <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <app-report-extraction></app-report-extraction>
  </div>
 
   
</div> -->



<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
  
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->
